.full-slider-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.full-slider-img {
  /* Smooth fade transition */
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}
